
{% extends "base.jinja" %}
{% block content %}
<h1>{{ title }}</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Вид</th>
            <th>Ім'я</th>
            <th>Вік</th>
            <th>Порода</th>
        </tr>
    </thead>
    <tbody>
        {% for animal in animals %}
        <tr>
            <td>{{ animal.type }}</td>
            <td>{{ animal.name }}</td>
            <td>{{ animal.age }}</td>
            <td>{{ animal.breed }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
